

/* resetting default margin padding and box-sizing for all elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts used */


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* some common design for reuse */

.primary-button {
    padding: 12px 36px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #4E47FF;
    border: none;
}

/* hero section started  */

.hero-section {
  background-image: url('../assets/Hero-bg.png');
  height: 698px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
  height: 151px;
}

.hero-content {
    max-width: 905px;
    height: 237px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    padding-top: 158px;
    text-align: center;
}

.logo {
  font-size: 34px;
  color: #4E47FF;
  font-weight: 900;   
}

.hero-nav button, .hero-content button, .in-action button {
    font-weight: 700;
    font-size: 16px;
}

.hero-text {
    font-weight: 700px;
    font-size: 65px;
    padding-bottom: 37px;
    color: #252432;
}


/* hero section ended  */

/* See It in Action started */


.see-it-in-action {
    max-width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    margin-top: 116px;
}

.webflow-conf {
    border-radius: 48px;
}

.in-action h3 {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 23px;
    color: #252432;
}

.in-action p {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 23px;
    color: rgba(37, 36, 50, 0.5);
}


/* See It in Action ended  */

